@import url(https://fonts.google.com/specimen/Roboto);
:root {
    padding: 5px;

}
h1 {
    text-align: center;
    color: blue;
}
h2 {
    text-align: center;
    color: blueviolet;
}
p {
    text-align: center;
}
.header {
    border: 1px solid rgba(0,0,0,0.2);
    width: 760px;
    margin: auto;
}
.footer {
    background-color: blueviolet;
    text-align: center;
    color: black;
    width: 760px;
    ;
}
.hero {
    margin: auto;
    width: 760px;
}
.article {
    float: right;
}
.hero1 {
    align-items: center;
}
.section {
    
}


