@import url(https://fonts.google.com/specimen/Roboto);
:root {
    display: block;
    

}
body {
    display: grid;
    border: 1px solid red;
    max-width: 760px;
    gap: 1em;
    
}
h1 {
    text-align: center;
    color: blue;
    grid-column: 2;

    display: grid;
    grid-template-rows: auto auto auto auto ;
    min-height: vh;

}
h2 {
    text-align: center;
    color: blueviolet;

}

.header {
    border: 1px solid rgba(0,0,0,0.2);
    max-width: 760px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 400px 1fr 2fr;
    align-items: center;
}
.logo {
    margin: 0 0.35rem 0 1rem;
    width: 64px;
    height: auto;
}
nav {
    text-align: right;
    
}
.navigation {
    display: flex;
    list-style: none;
}
.navigation li {
    flex: 1 1 100%;
}
.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
}
.navigation a:hover {
    color: red;
    font-weight: 700;
    text-decoration: underline;
}

.footer {
    background-color: blueviolet;
    text-align: center;
    color: black;
    width: 760px;
    ;
}
.hero {
    margin: auto;
    width: 760px;
}
.article {
    float: right;
    height: 200px;
    margin: 2rem;
    margin-top: 0;
}
.hero1 {
    align-items: center;
}

footer {
    
    display: flex;
    width: 760px;
    align-content: center;
}
.sociallinks {
    align-content: flex-end;
    

}
figure {
    
}
@media (min-width: 100em) {
    body {
        grid-template-columns: 40em 1fr;
        grid-template-rows: auto 1fr auto;
    }
}


