 body {
            font-family: Arial, sans-serif;
            margin: 30px;
            background-color: #f4f4f4;
        }
*input,
select,
button {
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   
}
header {
   
      display: flex;
      justify-content: space-between; /* push logo and nav apart */
      align-items: center;
      padding: 20px 40px;  /* top-bottom and left-right space */
      background-color: #007BFF;
      color: white;
      width: 800px;
      margin: auto;
}
nav{
    display: flex;
}
ul{
    display: flex;
    
    
}
a{
    color: #eee;
    /*border: 1px solid red;*/
    padding: .5rem;
    
}

h1 {
    margin: auto;
    font-size: 1.5em;
    color: navy;
    text-align: center;
    
}

footer {
      display: flex;
      justify-content: space-between; /* push logo and nav apart */
      align-items: center;
      padding: 10px 10px;  /* top-bottom and left-right space */
      background-color: #007BFF;
      color: white;
      width: 800px;
      margin: auto;
      height: 2px;
}
