* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
}
h1 {
    color: steelblue;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px #333;
}
p {
    padding: 0px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 0.5px solid rgba(0,0,0,0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* class selector */
.box{
    margin: 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000000;
}
aside {
    width: 20em;
    text-align: center;
}
main img {
    float: right;
}
aside h2 {
    padding:1rem
    top: 47px;
    left: 150px;
}
